/* REMOVE SCROLL / STYLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* prevents horizontal/vertical body scroll */
}

body {
  background: #0a0a0a;
  font-family: Arial, sans-serif;
  color: white;
}

/* LAYOUT */
.layout {
  display: flex;
  height: calc(100vh - 60px); /* navbar height */
  overflow: hidden;
}


/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1f2937;
  padding: 20px;
  border-right: 1px solid #222;
  overflow-y: auto;
}

.sidebar h3 {
  margin-bottom: 12px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: none;
  background: #374151;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.sidebar button.active,
.sidebar button:hover {
  background: #4b5563;
}

/* PROJECTS AREA */
.projects-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* GRID */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* CARDS */
.card {
  padding: 15px;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  transition: .2s;
  min-height: 150px;  /* increase card height */
}


.card:hover {
  transform: translateY(-5px);
  border-color: #00ffe0;
  box-shadow: 0 0 8px rgba(0,255,224,0.4);
}
